@font-face {
  font-family: "iconfont"; /* Project id 2743794 */
  src: url('../Iconfont/iconfont.woff2?t=1628937504062') format('woff2'),
       url('../Iconfont/iconfont.woff?t=1628937504062') format('woff'),
       url('../Iconfont/iconfont.ttf?t=1628937504062') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .icon-play-fill:before {
  content: "\e64d";
}

.icon-yinyue:before {
  content: "\e680";
}

.icon-dilanxianxingiconyihuifu_huabanfuben:before {
  content: "\e605";
}

.icon-songlist:before {
  content: "\e660";
}

.icon-yinle:before {
  content: "\e61b";
}

.icon-Homehomepagemenu:before {
  content: "\e9db";
} */

